@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.navy{
    color: navy;
    font-size: 8vmin;
    font-weight: bold;
}

.tomato{
    color: tomato;
    font-size:5vmin;
    font-weight: bold;
}

.about{
    font-family: Montserrat, sans-serif;
}

#select {
    padding: 5px 8px;
    width: 100%;
    border: 1px solid tomato;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#select:focus {
    outline: none;
}

.title{
    font-size: 6vmin;
}

.text{
    font-size: 3vmin;
}

.imgbox{
    overflow: hidden;
}

.imgbox img:hover{
    transition: 0.5s;
    transform: scale(1.4);
}

.headerimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerimg p{
    background-color: rgba(0, 0, 0, 0.76);
}
